.container{
    display: grid;
    /* grid-template-columns: 100px 200px; */
    /* grid-template-columns: 1fr 2fr 3fr; */
    grid-template-columns: repeat(2,200px);
    /* grid-template-rows: 200px 400px; */
    /* grid-template-rows:repeat(3,400px); */
    /* grid-auto-rows: 200px; */
    /* grid-row-gap: 20px; */
    /* grid-column-gap: 20px; */
    grid-gap: 20px;
    /* grid-template-areas:
    "header header"
    "sidebar content"
    
    ; */
    grid-auto-rows: minmax(150px,auto);
    justify-content:start;
    /* align-items: center; */
}

.grid-area-1{
    /* grid-area: header; */
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid-area-2{
    /* grid-area: sidebar; */
    grid-row-start:;
    grid-row-end: calc(4);
}
