body{
    padding-right: 30px;
    padding-left: 30px;
    /* color: blue; */
}
.li1{
    padding-left: 20px;
}

.li2{
    padding-left: 20px;
}
.li3{
    padding-left: 20px;
}
.li4{
    padding-left: 20px;
}
.li5{
    padding-left: 20px;
}
.li6{
    padding-left: 20px;
}