*{
    margin:0px;
    padding: 0px;
    /* background-color: yellow; */
    /* border: solid 1px green; */
}

body{
    background-color:rgb(4, 4, 18);
    /* margin: 0px; */
    /* padding: 4px; */
    /* border: solid 2px white; */

}
h1{
    color: orangered;
    direction:ltr;
    font-style: italic;
    font-variant: small-caps;
    /* font-size: xx-large  ; */
    /* font-weight: bold; */
}
p{
    color: orange;
    direction: rtl;
    direction: ltr;
    /* letter-spacing: normal; */
    letter-spacing: 1.5px;
    /* word-spacing: 20px; */
    text-indent: 3cm;
    text-align: center;   
    text-align: justify;
    width: 80%;
    border: solid 2px #fff;
    padding: 20px 40px ;
    margin: 30px;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
}
.decoration{
    color: #fff;
    text-decoration: line-through ;
}
#shadow{
    text-align: center;
    margin: 50px 20px;
    font-size: 4rem;
    text-shadow:1px 1px 10px rgb(248, 6, 6)  ;
}