<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>student Details Are:</h1>
    <p>Name<%=name%></p>
    <p>Age<%=age%></p>
    <p>Grade<%=grade%></p>
</body>
</html>